@import './variable';
@import './mixin';
@import './base';

@import './components/header';
@import './components/footer';
@import './components/hero-slider';
@import './components/button';
@import './components/section';
@import './components/policy-card';
@import './components/product-card';
@import './components/catalog';
@import './components/custom-checkbox';
@import './components/product';
@import './components/modal-product';
@import './components//cart';
@each $color, $val in $colors {
    .color-#{$color} {
        color: $val;
    }

    .bg-#{$color} {
        background-color: $val;
    }
}

@each $val in $numbers {
    .grid-col-#{$val} {
        grid-template-columns: repeat($val, 1fr);
    }
}

@each $val in $numbers {
    @include tablet {
        .grid-col-md-#{$val} {
            grid-template-columns: repeat($val, 1fr);
        }
    }

}

@each $val in $numbers {
    @include mobile {
        .grid-col-sm-#{$val} {
            grid-template-columns: repeat($val, 1fr);
        }
    }
}

.container {
    width: 100%;
    max-width: 1620px;
    margin: auto;
    padding: 0 50px;

    @include tablet {
        padding: 0 20px;
    }

    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-top: $header-height;
    margin-bottom: 2rem;
    min-height: 100vh;

    @include tablet {
        margin-top: calc(#{$header-tablet-height} + 20px);
    }

    @include mobile {
        margin-top: calc(#{$header-mobile-height} + 10px);
    }
}